# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.test
.env.prod

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Testing
/coverage
/playwright-report
/test-results
/playwright/.cache/
/src/tests/e2e/screenshots
/html
*.spec.js.snap
*.snap
