---
import { PasswordRecoveryForm } from "../../components/auth/PasswordRecoveryForm";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Reset Password - 10x Cards">
  <div class="min-h-[calc(100vh-4rem)] flex items-center justify-center">
    <PasswordRecoveryForm client:load />
  </div>
</Layout>
